
h1
{
    
    font-family: fantasy;
}
.button {
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  
  .button2 {
    background-color:green; 
    color:white; 
    border: 2px solid black;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
.container {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom:50px; 
    padding-left: 150px;
    padding-right: 150px;
  }
.site-footer
{
  background-color:green;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;
}

.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:black
}

.footer-links.inline li
{
  display:inline-block
}


@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer 
  {
    text-align:center
  }
}

